$singularColor: rgb(214, 214, 106);
body {
  background-color: #333;
  font-family: sans-serif;
  text-align: center;

  .App {
      display: flex;
      justify-content: center;
      flex-direction: column;
    .nounArea {

      .backShowing {
        background-color: #222;
      }

      .frontShowing {
        background-color: #444; 
      }

      .noun {
        margin-bottom: 1rem;
        cursor: pointer;
        height: 3rem;
        display:flex;
        justify-content: center;
        align-items: center;

        .front {
          color: $singularColor;
        }

        .back {
          .die {
            color: lightgreen;
          }
          .das {
            color: lightcoral;
          }
          .der {
            color: rgb(62, 202, 248);
          }
          .singular {
            color: $singularColor;
          }
          .plural {
            color: orange;
          }
          .separator {
            color: white;
          }

        }
      }
    }
  }
}